:root {
    font-size: calc(0.5em + 1vw);

    --logo-height: 80px;  
    --section-height: 80x;  

    --left-width: 220px;
    --center-width: 290px;
    --right-width: 200px;

    --list-left-width: 340px;
    --source-width: 160px;
    --authors-width: 160px; 
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.container {
    display: grid;
    grid-template-areas:
        "logo            chart-section      chart-section    chart-section"
        "search          search             filters          filters"
        "chart-list      chart-list         charts-right     charts-right";
    grid-template-columns: var(--list-left-width) 1fr var(--source-width) var(--authors-width);
    grid-template-rows: var(--logo-height) var(--section-height) 1fr;
    gap: 10px 10px;
    margin: 3px;
    height: 100vh;
    width: calc(100vw - 1.1rem);
    overflow: hidden;
}

#right-col {
    grid-area: right-col;
}

#ttt-link {
    font-size: 14px;
    font-weight: 600
}

#search-container {
    grid-area: search;
}

#logo {
    grid-area: logo;
    font-size: 38px;
    font-weight: 700; 
    margin-top: 10px;

    fill: rgb(6, 15, 240); 
}

#filters {
    grid-area: filters;
}

#chart-month {
    grid-area: chart-month;
}

#chart-section {
    grid-area: chart-section;
}

#charts-right {
    grid-area: charts-right;
    display: flex;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#chart-sourceName {
    flex: 1;
}

#chart-authors {
    flex: 1;
}


#chart-list {
    grid-area: chart-list;
    overflow-y: auto;
    overflow-x: hidden;
}

#chart-topic, #chart-sourceName, #chart-authors {
    font-weight: 500;
    font-size: 18px;
}

#chart-sourceName > div, #chart-authors > div {
    font-size: 18px;
    font-weight: 600;
}

